# Package Files #
*.class
*.jar
.project
.classpath
.settings/
.gitignore~
.gitmodules~
*.class
target/
bin/
build.sh~
README.md~
db/
lib/
tempDb/
.shell_history
java.hprof.txt
.idea
*.iml
report/*.json
.DS_Store
m0friendList0.csv
benchmark-run/dependency-reduced-pom.xml
data-import/dependency-reduced-pom.xml
out/

